<div class="container">
  <div class="row justify-content-center pt-5">
    <div class="card w-75 shadow">
      <h5 class="card-header">Edit User</h5>
      <div class="card-body">
        <form #form="ngForm">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="user.name" id="name" [value]="user.name" />
          </div>
          <div class="mb-3">
            <label for="city" class="form-label">City</label>
            <input type="text" class="form-control" name="major" [(ngModel)]="user.major" id="major" [value]="user.major" />
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" class="form-control" name="phone" [(ngModel)]="user.phone" id="phone" [value]="user.phone" />
          </div>
          <div class="mb-3">
            <label for="userName" class="form-label">Username</label>
            <input type="text" class="form-control" name="userName" [(ngModel)]="user.userName" id="userName" [value]="user.userName" />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="user.password" id="password" [value]="user.password" />
          </div>
        </form>
        <div class="card-footer">
          <button class="btn btn-primary m-2" (click)="save(form)">Save</button>
          <a [routerLink]="['/list']" class="btn btn-success m-2">Go Back</a>
        </div>
      </div>
    </div>
  </div>
</div>