<div class="container">
    <div class="row justify-content-center pt-5">
      <app-filter-users-list class="w-75" [listItemsNum]="users?.length" (valueChanges)="onChangesValues($event)">
      </app-filter-users-list>
      <ul class="list-group w-75 shadow">
        <li class="list-group-item" *ngFor="let user of users">
          {{ user.name }}
          <button class="btn btn-success float-end me-2 button" (click)="editUser(user.id)">
            Edit
          </button>
          <button class="btn btn-info float-end me-2 button" (click)="viewUser(user.id)">
            View
          </button>
          <button class="btn btn-danger float-end me-2 button" (click)="deleteUser(user.id)">
            Delete
          </button>
        </li>
      </ul>
      
      <button class="btn btn-primary btn-lg m-3 w-75" [routerLink]="['/add']">
        Add User
      </button>
    </div>
  </div>